.App {
  text-align: center;
}

body{
 background-image:url("https://i.imgur.com/KE5440G.jpg");
 background-size: 100%;
}

h1{
  color: white;
}

label{
  color: white;
}

.cart {
  margin: 30px 0px;
  display: flex;
  justify-content: space-evenly;
}

.product {
  flex: 0px 0 px 20%;
  background: white;
}


